@import '../src/assets/less/colors';
@import '../src/assets/less/sizes';
@import '../src/assets/less/typography';

// Main custom styles
body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: @small-font;
    // Details icon marker removal for Safari 
    ::-webkit-details-marker {
        display:none;
    }
   // Bootstrap version 
    .accordion {
        margin-bottom: -2px;
        .card {
            overflow: unset;
            background-color: transparent;
            background-clip: unset;
            border: none;
            border-radius: 0;
            .card-header {
                background-color: @white-bg;
                border-top: 2px solid @main-text;
                border-bottom: 2px solid @main-text;
                margin-bottom: -2px;
                cursor: pointer;
                position: relative;
                &:hover {
                    background-color: @card-header;
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    transition: 0.4s;
                }
                &.tab-active-bg {
                    background-color: @card-header;
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    transition: 0.4s;
                }
                button {
                    color: @main-text;
                    font-size: @large-font;
                    &.collapsed {
                        span {
                            &.open-icon {
                                svg {
                                    transform: rotate(0deg);
                                    transition: 300ms ease all;
                                }
                            }
                        }
                    }
                    &.btn-link{
                        text-decoration: none;
                        margin-left: -@small-space;
                        &:hover {
                            color: @main-text;
                        }
                    }
                    span {
                        &.question-id {
                            text-transform: uppercase;
                            font-family: 'OswaldBold', sans-serif;
                            font-size: @large-font;
                        }
                        &.question-text {
                            font-family: 'OswaldLight', sans-serif;
                            font-size: @extrasmall-font;
                            margin-left: @large-space;
                            position: relative;
                            top: -.35em;
                            max-width: 100%;
                        }
                        &.open-icon {
                            position: absolute;
                            float: right;
                            right:  @small-space;
                            background-color: @close-button;
                            width: @large-space;
                            svg {
                                width: @medium-font;
                                height: auto;
                                margin-top: -4px;
                                transform: rotate(45deg);
                                transition: 300ms ease all;
                            }
                        }
                    }
                }
            }
        }
    } 
}
// Bootstrap media query & buttons override
@media (max-width: 425px) {
    body .accordion .card .card-header button span.question-text {
        max-width: calc(100% - 135px);
        position: absolute;
        top: 30%;
        text-align: left;
    }
}
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}